/* عام */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* شريط التنقل */
.custom-navbar {
  background-color: #007BFF;
  color: #FFFFFF;
}

.custom-brand {
  color: #FFFFFF;
  font-weight: bold;
}

.custom-brand:hover {
  color: #D1ECF1;
}

.custom-link {
  color: #FFFFFF;
}

.custom-link:hover {
  color: #D1ECF1;
}

/* زر تسجيل الدخول */
.custom-btn {
  background-color: #FFFFFF;
  color: #007BFF;
  border: none;
}

.custom-btn:hover {
  background-color: #D1ECF1;
  color: #0056b3;
  border: 1px solid #007BFF;
}

/* جعل رابط الصفحة النشطة بلون أزرق أغمق */
.custom-link.active {
  color: #0056b3 !important;
  font-weight: bold;
  /*  لإبراز الرابط النشط */
}

/*تنسيق السكشينز الموجودة بال Home */

#container {
  color: #0056b3;
  font-family: oswald;
  font-size: x-large;
  /* background-color: #D1ECF1; */
}

#container>header>p {
  font-family: "Dancing Script";
}

#welcome {
  /*  كونتينر السيكشين الاول*/
  display: flex;
}

#wel-img {
  width: 25%;
  height: 25%;
}

#welcome>p {
  margin: 40px 109px;



}

/*كلاس ل اضافة خط */
.aguFont {

  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.welImg {
  /* الصورة الترحيبية*/
  border-radius: 51%;
  width: 36%;
  height: 3%;
  box-shadow: 5px 5px 10px 10px #BCCCDC;
  margin: -5% -5%
}


.card {
  width: 100%;
  height: 100%;

}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.card-front {
  background-color: #007BFF;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: 10px solid #007BFF;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #eff2f3;
  color: #007BFF;
  display: flex;
  align-items: center;
  border: 10px solid #007BFF;
  border-radius: 10px;
  justify-content: center;
  font-size: small;
  transform: rotateY(180deg);
}

.additional-card {
  background-color: #007BFF;
  color: #050505;
  border: 10px solid #007BFF;
  border-radius: 10px;
  justify-content: center;
  height: 250px;
  width: 180px;

}

.card>div>div>p {
  display: block;
  height: 151px;
  width: inherit;
}

.card-container {
  display: flex;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;

  /* justify-content: center; */

  gap: 20px;
  padding: 0px;
}

#NewCandidates {
  /*  كونتينر NewCandidates*/
  display: flex;
  font-family: oswald;
  font-size: x-large;
}


#NewCandidates>p {
  margin: auto;
  margin-right: 20%;


}

/*كلاس ل اضافة خط */
.aguFont {

  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.NewCandidatesImg {
  /* الصورة الترحيبية*/
  border-radius: 51%;
  width: 36%;
  height: 3%;
  box-shadow: 5px 5px 10px 10px #BCCCDC;
  margin: -5% -5%
}



.oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media only screen and (max-width: 425px) {
  body {
    background-color: lightblue;
    font-size: small;
  }

  .contact-container {
    flex-direction: column;
  }

  .CardContiner {
    flex-direction: column;

  }

  #Welcome {
    /* display: block !important; */
    flex-direction: column-reverse;


  }

  .welImg {
    margin-left: 0px;

    width: 29%;
    height: 47%;
  }

  #NewCandidates {
    /* display: block !important; */
    flex-direction: column-reverse;


  }

  .NewCandidatesImg {
    margin-left: 0px;

    width: 29%;
    height: 47%;

  }

  #welcome>p {
    margin: 0 0;
    font-size: xx-small;
  }

  #NewCandidates>p {
    margin: 0 0;
    font-size: xx-small;
  }

  .welImg {
    border-radius: 51%;
    width: 36%;
    height: 3%;
    box-shadow: 5px 5px 10px 10px #BCCCDC;
    margin: -20% -2%;
  }

  .card-inner {
    width: 100%;
    height: 70px;
  }
}