body,html{
    margin: 0 20px;
    padding: 0;
}




#LogIn_page{
    border: 1px #1d8ec4 solid;
    box-shadow: 1px 1px 15px #1d8ec4;
    display: flex;
    margin-top: 2%;

}




#login_side{

    width: 50%;
    margin: 2%;
    font-family: "Inter", serif;
    height: 100%;
    color: #1d8ec4;
    position: relative;
    left: 5%;


}
#login_titel{
    font-size:  x-large ;
    font-weight: 600;
}

#login_form{
    display: flex;
    flex-direction: column;
}

.input_field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1d8ec4 1px solid;
    width: 80%;
    margin-top: 1%;
}

label{
    margin-top: 10%;


}

#login_btn{
    display: inline;
    border: none;
    width: 20%;
    height: 50px;
    border-radius: 50px;
    background-color: #1d8ec4;
    color: white;

}
#signup_link{
    display: inline;
}
#signup_link a{

    font-style: normal;
    color: #1d8ec4;
    text-decoration: none;
    font-weight: bold;


}
















#login_img_side{
    background-color: gray;
    width: 50%;
    margin: 0;
    height: 600px;


}











