body,html{
    margin: 0 20px;
    padding: 0;
}




#SignUp_page{
    display: flex;
    height: 100%;

}




#SignUp_side{

    width: 50%;
    margin: 2%;
    font-family: "Inter", serif;
    height: 100%;


}
#SignUp_titel{
    font-size:  x-large ;
    font-weight: 600;
}

#SignUp_form{
    display: flex;
    flex-direction: column;
}

.input_field{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    margin-top: 1%;
}
.message{
    color: red;
}

label{
    margin-top: 4%;


}

#SignUp_btn{
    display: inline;
    border: none;
    width: 20%;
    height: 50px;
    border-radius: 50px;
    background-color: gray;
    color: white;

}
#login_link{
    display: inline;
}
#login_link a{

    font-style: normal;
    color: black;
    text-decoration: none;
    font-weight: bold;


}
















#SignUp_img_side{
    background-color: gray;
    width: 50%;
    margin: 2%;
    height: 600px;


}











